<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
    </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
           <div class="menu">
                    <ul id="menu" >
                        <li><a href="/"><i class="fa fa-home"></i> <span>Home</span><div class="clearfix"></div></a></li>
                        
                        <li ><a href="/user/manage-users"><i class="fa fa-users"></i> <span>Manage Users</span><div class="clearfix"></div></a></li>
                        
                        <li ><a href="/user/manage-leaves"><i class="fa fa-calendar-check-o"></i> <span>Manage Leaves</span><div class="clearfix"></div></a></li>

                        <li><a href="/role/manage"><i class="fa fa-calendar-check-o"></i> <span>Manage Roles</span><div class="clearfix"></div></a></li>
                        
                        <li><a href="/user/apply-leave"><i class="fa fa-calendar-plus-o"></i> <span>Apply Leave</span><div class="clearfix"></div></a></li>
                        
                        <li><a href="/user/my-leaves"><i class="fa fa-calendar-check-o"></i> <span>My Leaves</span><div class="clearfix"></div></a></li>
                        
                        <li><a href="/user/change-password"><i class="fa fa-key"></i> <span>Change Password</span><div class="clearfix"></div></a></li>
                         
                      </ul>
            </div>
</div>