<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="/css/morris.css" type="text/css"/>
<!-- Graph CSS -->
<link href="/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="/js/jquery-2.2.0.min.js"></script>
<!-- //jQuery -->
<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<!-- <link rel="stylesheet" href="css/icon-font.min.css}" type='text/css' /> -->
<!-- //lined-icons -->
<link rel="shortcut icon" href="/img/favicon.png">
<link href="/css/fullcalendar.min.css" rel='stylesheet' />
<link href="/css/fullcalendar.print.min.css" rel='stylesheet' media='print' />
<style type="text/css">

.filterStatus {
    position: relative;
    top: 2px;
}



	.agile-tables {
		width: 100%;
		border-collapse: collapse;
	}
	
	.agile-tables h3 {
		text-align: center;
		margin-bottom: 20px;
	}
	
	.agile-tables table {
		width: 100%;
		border: 1px solid #ddd;
		table-layout: auto; /* Allow table to adjust column width */
		overflow-x: auto; /* Enable horizontal scrolling if needed */
	}
	
	.agile-tables th, .agile-tables td {
		padding: 10px;
		text-align: left;
		border: 1px solid #ddd;
	}
	
	.agile-tables th {
		background-color: #4CAF50; /* Change background color to a more visible one */
		color: white; /* Change text color to white */
		font-weight: bold; /* Increase font weight */
	}
	
	/* Ensure name column is wide enough */
	.agile-tables td:nth-child(2) {
		width: 200px; /* Adjust width as needed */
		white-space: nowrap; /* Prevent text wrapping */
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	/* Ensure action buttons fit in one row */
	/* .agile-tables td:nth-child(9) {
		/* display: flex; */
		/* gap: 10px; Space between buttons */
	/* } */ */
	
	.action-buttons {
		display: flex;
		align-items: center;
		gap: 10px; /* Space between the buttons */
	}
	
	/* Responsive table */
	.table-responsive {
		overflow-x: auto;
	}
	
	.table-responsive table {
		width: 100%;
		table-layout: fixed; /* Fix column width */
	}
	
	/* Ensure table is responsive */
	@media (max-width: 768px) {
		.agile-tables table {
			display: block;
			overflow-x: auto;
		}
	}

</style>
</head> 