<!DOCTYPE HTML>
<html>
<head>
<title>Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); , false); function hideURLbar(){ window.scrollTo(0,1);  </script>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/css/morris.css" type="text/css"/>
<!-- Graph CSS -->
<link href="/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery-ui.css"> 
<!-- jQuery -->
<script src="/js/jquery-2.2.0.min.js"></script>
<!-- //jQuery -->
<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<!-- <link rel="stylesheet" href="/css/icon-font.min.css" type='text/css' /> -->
<!-- //lined-icons -->
<link rel="shortcut icon" href="img/favicon.png">
</head> 
<body>
	<div class="main-wthree">
	<div class="container">
	<div class="sin-w3-agile">
		<h2>Leave Management System</h2>
		<h2>Sign Up</h2>
		<label class="alert alert-info" style="width: 100%;" th:if="${successMessage != null" th:text="${successMessage"></label>
		<form action="/register"  method="post">
			<div class="username">
				<span class="username">First Name:</span>
				<input type="text" name="fName" class="name" placeholder="First Name" required>
				<label class="alert-danger"  ></label>
				<div class="clearfix"></div>
			</div>
			<div class="username">
				<span class="username">Last Name:</span>
				<input type="text" name="lName"  class="name" placeholder="Last Name" required>
				<label class="alert-danger"  ></label>
				<div class="clearfix"></div>
			</div>
			<div class="username">
				<span class="username">Email:</span>
				<input type="text" name="email" class="name" placeholder="E-mail" required>
				<label class="alert-danger" ></label>
				<div class="clearfix"></div>
			</div>
			<div class="password-agileits">
				<span class="username">Password:</span>
				<input type="password" name="password"class="password" required>
				<label class="alert-danger"   ></label>
				<div class="clearfix"></div>
			</div>
			
			<div class="login-w3">
					<button class="btn btn-primary" type="submit"> Sign Up</button>
			</div>
			<div class="clearfix"></div>
		</form>
		<div class="back">
						<a href="/">LOGIN</a>
				</div>
				<div class="footer">
					<p>&copy; 2024 Umar Ssekalala. All rights reserved.</p>
				</div>
	</div>
	</div>
	</div>
</body>
</html>
